h1. jQuery Mobile

Provides the [jQuery Mobile|http://jquerymobile.com/] library with the "jquery.mobile" module name. 
jQuery mobile returns jquery.mobile object as an AMD dependency.

The version of this wrapper is consistent with the jQuery Mobile version it wraps.

h2. Usage

Include the following dependency in your POM to make jQuery Mobile available to your project. Note how we are able to include bundles of web resources given a classifier of "www" and a type of "zip":

{code}
<project>
    <dependencies>
        <dependency>
            <groupId>org.codehaus.mojo</groupId>
            <artifactId>jquery-mobile-amd</artifactId>
            <version>${projectVersion}</version>
            <classifier>www</classifier>
            <type>zip</type>
        </dependency>
    </dependencies>
</project>
{code}