h1. jQuery UI

Provides an AMD wrapper around jQuery UI with the "jquery-ui" module name. 
jQuery UI extends jQuery and so there is no natural jQuery UI object to return for AMD. Instead we return jQuery itself.

The version of this wrapper is consistent with the jQuery UI version it wraps.

h2. Usage

Include the following dependency in your POM to make jQuery UI available to your project:

{code}
<project>
    <dependencies>
        <dependency>
            <groupId>org.codehaus.mojo</groupId>
            <artifactId>jquery-ui-amd</artifactId>
            <version>${projectVersion}</version>
            <type>js</type>
        </dependency>
    </dependencies>
</project>
{code}